
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMediaFeatureLabel">Create or edit a Media Feature</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.mediaFeature.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.mediaFeature.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_mediaType">Media Type</label>
            <select class="form-control" name="mediaType" ng-model="vm.mediaFeature.mediaType" id="field_mediaType">
                <option value="DOCUMENTS">DOCUMENTS</option>
                <option value="VIDEO">VIDEO</option>
                <option value="AUDIO">AUDIO</option>
                <option value="IMAGES">IMAGES</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_mediaDesc">Media Desc</label>
            <input type="text" class="form-control" name="mediaDesc" id="field_mediaDesc"
                    ng-model="vm.mediaFeature.mediaDesc"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createDate">Create Date</label>
                <div class="input-group">
                    <input id="field_createDate" type="text" class="form-control" name="createDate" datetime-picker="{{dateformat}}" ng-model="vm.mediaFeature.createDate" is-open="vm.datePickerOpenStatus.createDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateModified">Date Modified</label>
                <div class="input-group">
                    <input id="field_dateModified" type="text" class="form-control" name="dateModified" datetime-picker="{{dateformat}}" ng-model="vm.mediaFeature.dateModified" is-open="vm.datePickerOpenStatus.dateModified"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateModified')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label for="field_media">Media</label>
            <select class="form-control" id="field_media" name="media" ng-model="vm.mediaFeature.media" ng-options="media as media.id for media in vm.media track by media.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_mediaFeatureFile">Media Feature File</label>
            <select class="form-control" id="field_mediaFeatureFile" name="mediaFeatureFile" ng-model="vm.mediaFeature.mediaFeatureFile" ng-options="file as file.id for file in vm.mediafeaturefiles | orderBy:'id' track by file.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
